<div class="container">
    <header class="navbar navbar-default row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">Home</a>
            <a class="navbar-brand" href="/#categories/">Quotes App</a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{active: !showAuthors}"><a ng-click="showAuthors = false">Categories</a>
            </li>
            <li ng-class="{active: showAuthors}"><a ng-click="showAuthors = true">Authors</a>
            </li>
        </ul>
        <ul class="nav navbar-nav  navbar-right">
            <li ng-show="hasWriteAccess"><a class="btn btn-link" ng-click="showCreate = !showCreate">Add</a>
            </li>
            <li><a href="/logout" class="btn btn-link">Logout</a>
            </li>
        </ul>
    </header>
    <div ng-show="showCreate" class="row form-create">
        <form class="col-sm-12">
            <input class="form-control" type="text" placeholder="Category name" ng-model="newCtgText">
            <button class="btn" ng-click="createCategory()">Create</button>
        </form>
    </div>
    <ul class="ctg-list row" ng-show="!showAuthors">
        <li ng-repeat="ctg in ctgs" class="col-sm-12">
            <h3 ng-show="!saving[$index]" class="col-sm-10 col-sm-12" ng-click="showQuotes($index)" color-me>{{ctg.name| limitTo:50}}</h3>
            <input class="form-control col-lg-10 col-sm-12" type="text" ng-model="ctg.name" ng-show="saving[$index]">
            <div class="actions" ng-show="hasWriteAccess">
                <button ng-show="!saving[$index]" class="btn btn-link" ng-click="editCategory($index)">Edit</button>
                <button ng-show="saving[$index]" class="btn btn-link" ng-click="saveCategory($index)">Save</button>
                <button class="btn btn-link" ng-click="deleteCategory($index)">Delete</button>
            </div>
        </li>
    </ul>
    <ul class="ctg-list row" ng-show="showAuthors">
        <li ng-repeat="author in authors" class="col-sm-12">
            <h3 ng-show="!saving_author[$index]" class="col-sm-10 col-sm-12" ng-click="showQuotes($index)" color-me>{{author.name| limitTo:50}}</h3>
            <input class="form-control col-lg-10 col-sm-12" type="text" ng-model="author.name" ng-show="saving_author[$index]">
            <div class="actions" ng-show="hasWriteAccess">
                <button ng-show="!saving_author[$index]" class="btn btn-link" ng-click="editCategory($index)">Edit</button>
                <button ng-show="saving_author[$index]" class="btn btn-link" ng-click="saveCategory($index)">Save</button>
                <button class="btn btn-link" ng-click="deleteCategory($index)">Delete</button>
            </div>
        </li>
    </ul>
    <footer id="footer" class="row">
    </footer>
</div>
