<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="/">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <style>
            footer{
                padding: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body ng-app="myApp">

    {% block content %}{% endblock %}
    <footer id="footer">
        {% block footer %}
            &copy; Copyright 2014 by &nbsp;<a href="http://vagabondme.com/">Ajay More</a>
        {% endblock %}
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>