{% extends "base.twig" %}

{% block title %}Welcome! {{user.displayName}}{% endblock %}
{% block content %}
    <a href="/logout">Logout</a>
    <a href="/quotes-app.html">Quotes App</a>
{% endblock %}