<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>App Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,300italic' rel='stylesheet'>
  </head>
  <body>  
    <div ng-view></div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/ngprogress/build/ngProgress.min.js"></script>
    <script src="scripts/beginner.min.js"></script>
  </body>
</html>