<!DOCTYPE html>
<html>
  <head>
    <title>App Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="login-page">
    <div class="login-block">
      <h1>Login</h1>
      <a href="/auth/facebook">
        <img src="img/fb.png" alt="facebook login">
      </a>
      <a href="/auth/google">
        <img src="img/gplus.png" alt="facebook login">
      </a>
    </div>
  </body>
</html>