{% extends "base.twig" %}
{% block title %}
    User List
{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel='stylesheet' href='../lib/ngProgress/ngProgress.css'/>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/sweet-alert/sweet-alert.css">
    <link rel="stylesheet" href="../css/users.app.css" />
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div ng-view></div>
{% endblock %}
{% block footer %}
    {{parent()}}
{% endblock %}
{% block scripts %}    
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/sweet-alert/sweet-alert.min.js"></script>
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular/angular-route.min.js"></script>
    <script src='../lib/ngProgress/ngProgress.min.js'></script>
    <script src="../js/users.app.js"></script>
{% endblock %}